doctype html5
html(lang="en")
html
	head
		title XRTLink - 500 Error
		link(rel='stylesheet' href='/stylesheets/main.css')
		link(rel='stylesheet' href='/stylesheets/ionicons.min.css')
	body
		section.hero
			div.container1
				div.row
					div.col-md-12
						p(style='font-family: arial; width: 100%;text-align: center;')
							span(style='font-weight: 500; font-size: 16pt; color: rgba(0,0,0, .60);')  500 - Internal Error !!!
						<hr>
						p(style='font-family: arial; width: 100%;text-align: center;')
							span(style='font-weight: 100; font-size: 12pt; color: rgba(0,0,0, .60);') Service not avalilable at moment. Please try again later