doctype html5
html(lang="en")
html
	head
		title XRTLink
		link(rel='stylesheet' href='/stylesheets/main.css')
		link(rel='stylesheet' href='/stylesheets/ionicons.min.css')
	body
		section.hero
			div.container1
				div.row(id='app')
			div.container2
				div.row
					div.col-md-12
						div#app
						p(class='text-footer' style='width: 80%;text-align: center;') Made with
							span
								i(class='ion ion-heart' style='color:red;')
							span  by
							a(href='https://kradnoel.com')
								img(id='logo' src='/images/kradnoel_0.svg')
		script(src='/javascript/vue.min.js')
		script(src='/javascript/axios.min.js')
		script(src='/javascript/main.js')
